body {
    font-family: "Times New Roman", Times, serif;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu1VEYbaPb2EejWyAL5pmuwg69l8noRvkBGveWdSB5bQ&usqp=CAU&ec=48665701);
    background-repeat: no-repeat;
    background-size: cover;
  }

  