{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid" style="background-color: white;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="rotate: 90deg; font-size: 20px; color: black;">|||</span>
      </button>
      <a class="navbar-brand mb-0 h1" href="{% url 'notes'%}" style="color: black;">Note Beta</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link abc" href="{% url 'home' %}" >Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link abc" href="{% url 'notes' %}" >Notes</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link abc" href="{% url 'teacher' %}" >Faculty</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link abc" href="{% url 'dashboard' %}" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link abc" href="{% url 'logout' %}" >Log-out</a>
          </li>

          {% endif %}

          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link abc" href="{% url 'adminResponse' %}" >Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link abc" href="{% url 'add_reminder' %}" >Reminder</a>
          </li>
            <li class="nav-item">
            <a class="nav-link abc" href="{% url 'admin:index' %}" >Admin</a>
          </li>
          {% endif %}

          {% if user.is_authenticated %}
          <table class="coins">
          <th>
          <img src="{% static 'images/coin.png' %}" alt="">
          </th>
          <th>
          <p class="cna" id="cna" style="color: black;">{{ user.coins_scored }}</p>
          </th>
          </table>
    {% endif %}
            <label class="switch">
              <input type="checkbox" checked role="switch" id="flexSwitch"  onclick="themeMode()">
              <span class="slider"></span>
            </label>






      </div>
    </div>
  </nav>

<style>

  /* .abc:hover{
    color: black;
  } */

  .nav-link:hover{
    color: black;
  }
  .nav-link{
    margin-top: 5px;
    color: #5500cb;
    font-size: 17px;
    font-weight: bold;

  }
   .coins {
    width: 3px;
  }

  .cna {
    margin-top: 12px;
    font-weight: bold;
  }

  @media (max-width: 980px) {
    .coins {
      margin-left: 10%;
    }
  }

  .nav{
    color: blue;
  }

  .switch {
    margin-left: 1em;
    margin-top: 7px;
    --width-of-switch: 3.5em;

    --height-of-switch: 1.8em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }

  input:checked + .slider {
    background-color: #303136;
  }

  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }


</style>